body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
}
canvas {
  display: block;
}

.ui,
.captionLeft,
.captionRight {
  background: rgba( 255, 255, 255, .5 );
}

.ui {
  position: absolute;
  padding: 5px;
}

.captionLeft,
.captionRight {
  font-size: 20px;
  position: absolute;
  padding: 5px;
}

.captionLeft {
  bottom: 0;
  left: 0;
}

.captionRight {
  bottom: 0;
  right: 0;
}

@media ( max-width: 600px ) {
  .captionLeft,
  .captionRight {
    font-size: 12px;
  }
}
